body{
	background-color: pink;
	font-size: 20px;
}
h1{
	color: red;
}
p{
	color: yellow;

}
ul.nav{
	background-color:#c87737;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
ul.nav{
	float: left;
}
.ul nav li a {
	font-family: cursive;
	display: block;
	color: #c87737;
	text-decoration: none;	
}
ul.nav li a:hover:not